<!-- banner -->
<section style="margin:0.5em">
    <div class="banner">
	    Registrations for Software Freedom Camp Diversity Edition 2021 are open. Please register now to participate in the camp. Last date to register is <b>5 November 2021. </b> 
	    👉
        <a href='https://camp.fsci.in'>
         Register Now!
        </a>
	<br>
	Also, please share the <a href="/img/camp-poster.png">camp poster</a> to spread the word!

        </a>
    </div>
</section>
